* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.content {
  background-color: white;
  padding-top: 80px;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 50px;
}

form {
  width: 100%;
}

body {
  background-color: black;
}
